@import "tailwindcss";

:root {
  --background: #ffffff; /* Force white background */
  --foreground: #171717; /* Set text color to dark */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-nunito), sans-serif;
}
